
<!DOCTYPE html>
<html>
  <head>
    <title>CNN Prediccion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: black">
    <div>
        <a href="https://www.javaguides.net" class="navbar-brand">Red Neuronal Prediccion Expresiones Faciales </a>
    </div>

    <ul class="navbar-nav">
        <li><a href="#" class="nav-link">Prediccion</a></li>
    </ul>
</nav>
<div class="alert alert-primary" role="alert">
  Esta es la Prediccion de su imagen escogida con la Probabilidad
</div>
</header>
  <body  style="background-image: url('images/fondo.jpg');">
    
    <script>
        function goBack() {
            window.history.back();
            return false
        }
    </script>
  
    <div class="testbox" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); width: 60%; height: 70%; max-width: 900px;">
    <form action="/">
      <div class="banner">


        <div class="alert alert-warning" role="alert">
          Prediccion!
        </div>
       
      </div>

      <div class="item">
        <div class="alert alert-success" role="alert">
          Expresion Predecida por el sistema :
        </div>
        <input id="elm_link" name="elm_link" type="text" value="{{ pred }}" readonly/>
      </div>
      <div>
        <p>  
        </p>
      </div>
      <div class="item">
        <div class="alert alert-info" role="alert">
         Probabilidad :
        </div>
        <input id="elm_upload" name="elm_upload" type="text" value="{{ prob }}" readonly/>
      </div>
      <div>
        <p>  
        </p>
      </div>
    
      <div class="item" style="width: 100%">
          <input onclick="goBack()" type="button" class="btn btn-success"  value="REGRESAR A LA PAGINA INICIO">
      </div>
    </form>
    </div>
  </body>
</html>